$mainTextColor: #ffffff;
$accentColor: #2b4074;
$accentTextColor: #4a4a4a;
$ovirlayColor: #f9f6e5;
$ovirlayBg: rgba(43, 64, 116, 0.3);
$secondTextColor: #797979;
$therdTextColor: #9b9b9b;

$animationCubicBezier: cubic-bezier(0.4, 0, 0.2, 1);
