.wrapper-header {
  background-color: $accentColor;
}

.header-body {
  display: flex;
  align-items: center;
  min-height: 5rem;

  @media screen and (min-width: 48rem) {
    min-height: 6.25rem;
  }

  @media screen and (min-width: 83.75rem) {
    padding-right: 80px;
  }
}

.logo-header {
  margin-right: auto;
}

.menu-toggle {
  width: 40px;
  height: 40px;
  background-color: $mainTextColor;
  border-radius: 3px;

  cursor: pointer;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $ovirlayColor;
  }

  &__svg {
    width: 13px;
    height: 14px;

    fill: $accentColor;
  }
}
