.hero-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  position: absolute;
  top: 2.25rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: 5;

  @media screen and (min-width: 48rem) {
    top: 5.437rem;
  }

  @media screen and (min-width: 83.75rem) {
    top: 6.25rem;
  }
}

.hero-content__title {
  color: $mainTextColor;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.75rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 48rem) {
    margin-bottom: 1.562rem;
    font-size: 3.75rem;
  }

  @media screen and (min-width: 83.75rem) {
    font-size: 6rem;
    margin-bottom: 1.125rem;
  }

  &::after {
    @include decorLine(3.75rem, $accentTextColor);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);

    @media screen and (min-width: 48rem) {
      visibility: hidden;
    }
  }
}

.hero-content__text {
  visibility: hidden;

  @media screen and (min-width: 48rem) {
    visibility: visible;

    margin-bottom: 2rem;
    min-width: 36.687rem;

    color: $mainTextColor;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.125rem;
    line-height: 1.111;
    text-align: center;

    @media screen and (min-width: 83.75rem) {
      font-size: 1.5rem;
      min-width: 50rem;
    }
  }
}

.hero-content__inner {
  display: flex;
  justify-content: center;
}

.hero-content__btn {
  visibility: hidden;

  @media screen and (min-width: 48rem) {
    visibility: visible;
    @include btn($ovirlayColor, $accentColor);
  }
}

.hero-slider {
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px;
    height: 40px;

    background-color: $accentColor;
    background-repeat: no-repeat;
    background-position: center;

    &:active {
      background-color: $secondTextColor;
    }

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    background-image: url('../images/prev.svg');
    left: 0;
  }
  .swiper-button-next {
    background-image: url('../images/prev-next.svg');
    transform: rotate(180deg);
    right: 0;
  }
}

.hero-slider__img {
  width: 100%;
}
